body {
background-color: #CBBDCC;
}
label {
    background-color: #A58CA7
}
div.ui.segment {
    background-color: #A58CA7
}
input {
    border: 3px black solid
}

.image-list {
    border: black solid 3px;
    border-radius: 3px
}
img {
    border: black 1.5px solid;
    border-radius: 3px
}